<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body class="background">

    <nav class="navbar sticky-top navbar-expand-md navbar-dark my-nav">

       <a class="navbar-brand" href="#">LRN</a>

       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
           <ul class= "navbar-nav ml-auto">
             <li class= "nav-item" >
               <a href="{% url 'jspage:home' %}" class = "nav-link">Home</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'jspage:index' %}" class = "nav-link">Profile</a>
             </li>
             <li class= "nav-item" >
               <a href="{% url 'jspage:books' %}" class = "nav-link">Search Books</a>
             </li>
             <li class= "nav-item" >
               <a href="#" class = "nav-link theme">Change Theme</a>
             </li>
           </ul>
       </div>
   </nav>



    <div class="form">
		<h3>{{greeting}}</h3>
    
		{% if phase == "login" %}
		<button type="button" id="login" class="button button-block" onclick="window.location.href='{% url 'jspage:login' %}'">Log In / Sign Up</button>
		{% elif phase == "logout" %}
		<button type="button" id="logout" class="button button-block" onclick="window.location.href='{% url 'jspage:logout' %}'">Log Out</button>
		{% endif %}
	</div>




      <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

      <script src = "{% static 'js/jquery.js' %}"></script>
      <script src = "{% static 'js/jquery_theme.js' %}"></script>
      <script src = "{% static 'js/jquery_accordion.js' %}"></script>
      <script src = "{% static 'js/bookfinder.js' %}"></script>
      <script src = "{% static 'js/login.js' %}"></script>


      <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
      <script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
      <script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>

  </body>
</html>
