<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width =device-width">
  <title>Login Page</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body class="background">

  <div class="form">
		<ul class="tab-group">
			<li class="tab active"><a id="title_login" href="#login">Log In</a></li>
			<li class="tab "><a id="title_signup" href="#signup">Sign Up</a></li>

		</ul>

		<div class="tab-content">
			<div id="login">

				<form method="POST">
					{% csrf_token %}

					<div class="field-wrap">
						<label>
						Username<span class="req">*</span>
						</label>
						<input class ="input" type="text" name="username" id="username_login" required autocomplete="off"/>
					</div>

					<div class="field-wrap">
						<label>
						Password<span class="req">*</span>
						</label>
						<input class="input" type="password" name="password" id="password_login" required autocomplete="off"/>
					</div>

					<button type="submit" id="submit_login" class="button button-block">Log In</button>

				</form>

			</div>

			<div id="signup">

				<form method="POST">
					{% csrf_token %}
					<div class="field-wrap">
						<label>
							Username<span class="req">*</span>
						</label>
						<input class="input" type="text" name="username" id="username_signup" required autocomplete="off" />
					</div>

					<div class="field-wrap">
						<label>
						Email Address<span class="req">*</span>
						</label>
						<input class="input" type="email" name="email" id="email_signup" required autocomplete="off"/>
					</div>

					<div class="field-wrap">
						<label>
						Set A Password<span class="req">*</span>
						</label>
						<input class="input" type="password" name="password" id="password_signup" required autocomplete="off"/>
					</div>

					<button type="submit" id="submit_signup" class="button button-block">SIGN UP</button>

				</form>

			</div>

		</div><!-- tab-content -->

	</div> <!-- /form -->






<script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>

<script src = "{% static 'js/jquery.js' %}"></script>
<script src = "{% static 'js/jquery_theme.js' %}"></script>
<script src = "{% static 'js/jquery_accordion.js' %}"></script>
<script src = "{% static 'js/bookfinder.js' %}"></script>
<script src = "{% static 'js/login.js' %}"></script>

<script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script>
<script src= "https://use.fontawesome.com/releases/v5.0.8/js/all.js"> </script>


</body>


</html>
